# tee "/etc/systemd/system/fan.service" << 'EOF'
# /etc/systemd/system/fan.service
[Unit]
Description=Set fan rpm
[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/chromebook-fan-control.sh"
[Install]
WantedBy=multi-user.target
EOF
